In [5]:
import pandas as pd

In [6]:
laptop = pd.read_csv("../laptop.csv")

In [7]:
laptop.loc[laptop['touch'] == 'No', 'touch'] = False
laptop.loc[laptop['touch'] == 'Yes', 'touch'] = True 
laptop.loc[laptop['touch'].isna(), 'touch'] = False 
laptop['touch'] = laptop['touch'].astype(bool)
laptop['price'] = laptop['price'].apply(lambda x: int(x))
laptop['name'] = laptop['name'].apply(lambda x: str(x))
laptop['brand'] = laptop['brand'].apply(lambda x: str(x))
laptop.loc[laptop['ram memory'] == '1', 'ram memory'] = '16'
laptop.loc[laptop['ram memory'] == '3', 'ram memory'] = '4'
laptop.loc[laptop['ram memory'] == 'Not Specified', 'ram memory'] = '8'
laptop.loc[laptop['ram memory'].isna(), 'ram memory'] = '8' 
laptop['ram memory'] = laptop['ram memory'].apply(lambda x: int(x))
laptop['display size'] = laptop['display size'].apply(lambda x: float(x))

C:\Users\N I T R O 5\AppData\Local\Temp\ipykernel_12564\3419962822.py:8: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '16' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  laptop.loc[laptop['ram memory'] == '1', 'ram memory'] = '16'

In [8]:
laptop.describe()

,price,ram memory,display size,graphics card,rating,reviews
count,1540.000000,1540.000000,1540.000000,0.0,1540.000000,1540.000000
mean,122723.847403,10.537662,14.917597,NaN,0.279286,0.222727
std,72297.145290,5.101365,0.894643,NaN,1.094777,2.198500
min,25500.000000,4.000000,10.500000,NaN,0.000000,0.000000
25%,73999.000000,8.000000,14.000000,NaN,0.000000,0.000000
50%,104472.000000,8.000000,15.600000,NaN,0.000000,0.000000
75%,149992.500000,16.000000,15.600000,NaN,0.000000,0.000000
max,555555.000000,32.000000,17.300000,NaN,5.000000,73.000000

In [9]:
# laptop['processor'].value_counts()

In [10]:
# temp = laptop[['display size', 'name', 'url']]
# temp.to_csv('temp.csv', index=False)

In [11]:
# tempp = pd.read_csv("temp.csv")
# tempp['display size'].value_counts()
# laptop['display size'] = tempp['display size']
# laptop.info()

In [12]:
# laptop.to_csv("../laptop.csv", index=False)